img{
	margin: 20px 10px;
	user-select: none;
	max-width: 100px;
	width: 100px;
}
progress{
	width: 100%;
	max-width: 100%;
}
progress.bottom{
	position: fixed;
	bottom:0;
	left:0;
	max-width: 100%;
	width: 100%;
}